<section class="home">
  <article class="home-title">
    <img src="/images/poketrade.png" alt="title" class="poketrade">
  </article>
  <article class="auth-container">
      <h3>Welcome back Trainer!<br>Good to see you!</h3>
      <a href="/auth/login" class="main-link">Log In</a>
      <h3>New pokemon lover?<br>Nice to meet you!</h3>
      <a href="/auth/signup" class="main-link">Sign Up</a>
  </article>
</section>
