<footer class="navbar">
  <a href="/profile">
    <img src="/images/profile-icon.png" class="navbar-img" alt="Trades Icon">
  </a>
  <a href="/trades">
    <img src="/images/exchange.png" class="navbar-img" alt="Trades Icon">
  </a>
  <a href="/search">
    <img src="/images/search-icon.png" class="navbar-img" alt="Search Icon">
  </a>
  <form method="POST" action="/auth/logout">
    <input type="image" src="/images/logout-icon.png" class="navbar-img" alt="Log out Icon"/>
  </form>
</footer>
