/* ---- Reset ---- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  padding: 20px 100px 0px 100px;
}

/* ---- Main ---- */
main {
  padding: 20px 50px;
}

/* ---- Box ---- */

.box {
  width: 500px;
}

/* ---- Buttons ---- */

button {
  padding: 0px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 30px 15px 30px 0px;
  padding: 30px;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  background-color: #1396ED;
  color: whitesmoke;
}

/* ---- Form ---- */

form {
  width: 400px;
  padding-bottom: 50px;
}

input, label {
  padding: 5px 0px;
}

#add-submit {
  margin: 10px 0px;
}

/* ---- Search ---- */

.search-input{
  width: 500px;
  margin-bottom: 15px;
}

.trash-img {
  width: 12px;
  margin-left: 10px;
}